<!DOCTYPE html>
<html>
  <head>
    <title>Berserkware.org</title>
    <link rel="icon" href="/static/logo.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='/static/style.css' rel='stylesheet'>
  </head>

  <body>
    <h1 class="no-underline"><a class="black-link no-text-dec" href="/">Berserkware</a></h1>
    <div class="icons">
      <a class="black-link" href="https://github.com/berserkware"><i class='bx bxl-github'></i></a>
      <a class="black-link" href="https://twitter.com/berserkware"><i class='bx bxl-twitter'></i></a>
      <a class="black-link" href="https://fosstodon.org/@Berserkware"><i class='bx bxl-mastodon'></i></a>
      <a class="black-link" href="https://www.youtube.com/@berserkwareYT"><i class='bx bxl-youtube'></i></a>
      <a class="black-link" href="mailto:caleb@berserkware.org"><i class='bx bx-envelope'></i></a>
    </div>
  
    <h3>About Me</h3>
    <p>
      Hi, My name is Caleb, also known as Berserkware on the internet. I am very passionate about programming, Linux, and free and open-source projects. My most used programming languages are Python and C. My favourite topics include web development, game development, self-hosting, and operating systems.
    </p>
    
    <h3>Projects</h3>
    <ul>
      <li><a href="https://installies.org">Installies</a> - Installies is a site for managing, organizing, and retrieving shell scripts for use to install, remove, update or compile apps on Linux and Unix-based systems. </li>
    </ul>
    
    <footer>
      <hr>
      <p>Copyright © 2023 Berserkware</p>
      <p>The source of this website can be found on <a href="https://github.com/Berserkware/berserkware.org">GitHub</a>.</p>
    </footer>
  </body>
</html>
